.page-container {
    margin: 3%;
}

h1 {
    font-size: 5rem;
    font-family: @header-font;
    color: @font-color;
}

h3 {
    font-size: 2rem;
    font-family: @header-font;
    color: @font-color;
}

.logo {
    padding-bottom: 2%;
}